li{
  margin-bottom: 1rem;
  padding:1.5rem;
  color:white;
  font-weight: 700;
  font-size: 1rem;
  border: 4px solid black;
  box-shadow: 4px 4px 10px black;
}
.main-div{
  width:50%;
  margin: 0rem auto;
}
ul{
  margin-top:0rem;
}
.note{
  text-align: center;
}